body {
    background-image: url("IMG/pngtree-coffee-shop-poster.jpeg");
    background-size: 495px;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


hr {
    /*border-color: ;*/
    border-bottom: solid grey;
    width: 80%;
    margin: auto;
}

.container-one {
    display: flex;
}

.container-two {
    display: flex;
}

.col-8 {
    display: flex;
    flex-direction: column;
}

.col-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


#roast-selection, #new-roast-selection {
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#submit, #submit2 {
    margin-top: 10px;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: brown;
    color: white;
    border-radius: 8px;
}

.Roast {
    font-weight: bold;
padding-top: 20px
}


#coffees {
    margin-right: 0px;
}

.coffee p {
    text-align: center;
    color: brown;
    font-weight: bold;
}
.coffee {
    margin: auto;
    width: 50%;
    justify-content: center;
}

#search-bar, #search-bar2 {
    width: 80%;
}