/*body {*/
/*    background-image: url("IMG/seamless-coffee-pattern.jpeg");*/
/*}*/

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}


hr {
    border-color: ;
    border-bottom-style: solid grey;
    width: auto;
    margin: auto;
}

.form-group {
    font-weight: bold;
}

#roast-selection {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
}

#submit {
    margin-top: 10px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: deepskyblue;
    color: white;
    border-radius: 8px;
}

.Roast {
    font-weight: bold;
}